<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NO DEBERÍAS VER ESTA PAGINA</title>
</head>

<body>

  <header id="header_menu" th:fragment="header-menu">
    <nav>
      <div class="header-logo">
        <img src="/_brand/logo.svg" class="h-20" alt="">
        <div class="title-area">
          <h1>Maki</h1>
          <h2>Cocina Japonesa</h2>
        </div>
      </div>

      <div class="header-menu">
        <a href="/">
          <img src="/_icon/home_icon.png" alt="">
        </a>
        <a href="/">
          <img src="/_icon/menu_icon.png" alt="">
        </a>
        <a href="/">
          <img src="/_icon/delivery_icon.png" alt="">
        </a>
        <a href="/">
          <img src="/_icon/user_profile_icon.png" alt="">
        </a>
      </div>

      <div class="header-search-bar">
        O
        <input type="text">
      </div>

    </nav>
  </header>

</body>

</html>