<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NO DEBERÍAS VER ESTA PAGINA</title>
</head>

<body>

  <section class="carousel" th:fragment="hero-carousel">

    <div class="carousel-controls">
      <img src="/_icon/chevron-left.svg" class="carousel-left-btn" />
      <img src="/_icon/chevron-right.svg" class="carousel-right-btn" />
    </div>

    <img class="carousel_image active" src="/_images/carousel/car_img_1.png" alt="">
    <img class="carousel_image" src="/_images/carousel/car_img_2.png" alt="">
    <img class="carousel_image" src="/_images/carousel/car_img_3.png" alt="">
    <img class="carousel_image" src="/_images/carousel/car_img_4.png" alt="">
  </section>

</body>

</html>