.carousel {
  @apply w-full h-[40dvh] xl:h-[80dvh] object-cover relative overflow-hidden;
}

.carousel_image {
  @apply opacity-0 h-full w-full object-cover absolute top-0 left-0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.carousel_image.inactive {
  animation-name: fade-out;
  animation-duration: 1s;
  /* Mantener el nuevo estado */
  animation-fill-mode: forwards;
}

.carousel_image.active {
  animation-name: fade-in;
  animation-duration: 1s;
  /* Mantener el nuevo estado */
  animation-fill-mode: forwards;
}

.carousel-controls {
  @apply z-10 absolute w-full h-full justify-between flex select-none items-center p-8;
}

.carousel-controls img {
  @apply h-24 w-24
}