<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NO DEBERÍAS VER ESTA PAGINA</title>


  <th:block th:fragment="fonts">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spinnaker&family=Staatliches&display=swap" rel="stylesheet">
  </th:block>
</head>

<body>


</body>

</html>