<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NO DEBERÍAS VER ESTA PAGINA</title>
</head>

<body>

  <section class="food-menu-grid" th:fragment="food-menu-grid">
    <div class="food-menu-item">
      <img src="/_images/food_menu/entradas.jpg" alt="">
      <p>Entradas</p>
    </div>
    <div class="food-menu-item">
      <img src="/_images/food_menu/platos_fuertes.jpg" alt="">
      <p>Entradas</p>
    </div>
    <div class="food-menu-item">
      <img src="/_images/food_menu/sushi.jpg" alt="">
      <p>Entradas</p>
    </div>
    <div class="food-menu-item">
      <img src="/_images/food_menu/bebidas.png" alt="">
      <p>Entradas</p>
    </div>
    <div class="food-menu-item">
      <img src="/_images/food_menu/vegetariano.webp" alt="">
      <p>Entradas</p>
    </div>
    <div class="food-menu-item">
      <img src="/_images/food_menu/postres.jpg" alt="">
      <p>Entradas</p>
    </div>
  </section>

</body>

</html>