<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NO DEBERÍAS VER ESTA PAGINA</title>
</head>

<body>

  <footer th:fragment="footer" class="flex flex-col gap-8">
    <div class="flex justify-between! w-full">
      <img src="/_brand/logo.svg" class="h-24" alt="">

      <div class="flex text-white">
        <img src="/_icon/brand-instagram.svg" class="h-24" alt="">
        </img>
        <img src="/_icon/brand-facebook.svg" class="h-24" alt="">
        </img>
      </div>
    </div>
    <div class="flex flex-col footer-col">

      <div class="flex gap-28">
        <div class="flex flex-col gap-8">
          <h3>Descarga nuestro menu</h3>
          <a href="#">
            Descarga nuestro menu en pdf
          </a>
        </div>

        <div class="flex flex-col gap-4">
          <h3>Sobre Nosotros</h3>
          <div class="flex flex-col gap-2">
            <a href="">Acerca de Maki</a>
            <a href="">Protección de datos</a>
          </div>

          <h3>Encuentranos:</h3>
          <a href="">Cra 45A #136C - 71</a>
        </div>

      </div>

    </div>
    <p>Copyright © Maki. Todos los derechos reservados.</p>
  </footer>

</body>

</html>