<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <script>
    const files = [
        // Poner acá los css necesarios para la pagina
        // EN ORDEN, POR LO MENOS PRIMERO EL GLOBAL (tailwind theme)
        "/_css/global.css",
        "/_css/fragments/landing/header_menu.css",
        "/_css/fragments/footer.css",
    ];

    (async () => {
        for (const file of files) {
        const req = await fetch(file)
        const content = await req.text()

        const style = document.createElement('style');
        style.setAttribute('type', 'text/tailwindcss');
        style.textContent = content
        document.head.appendChild(style);
        }
    })()

    </script>
    <th:block th:replace="fragments/fonts :: fonts">

    </th:block>

</head>

<body class="font-sans">
        <!-- HEADER -->
    <header th:replace="fragments/landing/header_menu :: header-menu"></header>
    <main class="tree_background">

    <br>
    <h2 class="text-center">MENÚ</h2>
        <!-- TITLE -->
    <section class="max-w-6xl mx-auto px-6 py-10">

        <!-- PRODUCTS -->
        <div class="space-y-10">

            <!-- PRODUCT ROW -->
            <div th:each="plato : ${menu}"
                 class="grid grid-cols-1 md:grid-cols-4 gap-6 items-center">

                <!-- Image -->
                <div>
                    <img th:src="${plato.urlImage}"
                         alt="Imagen producto"
                         class="rounded-xl shadow-md w-full h-40 object-cover">
                </div>
                <!-- Info -->
                <div class="md:col-span-2">
                    <h3 th:text="${plato.nombre}"
                        class="text-2xl font-bold uppercase text-black">
                        Nombre Producto
                    </h3>

                    <p th:text="${plato.descripcion}"
                       class="text-gray-700 mt-2">
                        Descripción del producto
                    </p>
                </div>
                <!-- Price -->
                <div class="text-right">
                    <span th:text="'$' + ${plato.precio}"
                          class="text-2xl font-extrabold text-orange-500">
                        $0.000
                    </span>
                </div>

            </div>

        </div>
    </section>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>