<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Singular Item</title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <script>
      const files = [
        // Poner acá los css necesarios para la pagina
        // EN ORDEN, POR LO MENOS PRIMERO EL GLOBAL (tailwind theme)
        "/_css/global.css",
        "/_css/fragments/landing/header_menu.css",
        "/_css/fragments/footer.css",
        "/_css/single-item.css",
      ];

      (async () => {
        for (const file of files) {
          const req = await fetch(file);
          const content = await req.text();

          const style = document.createElement("style");
          style.setAttribute("type", "text/tailwindcss");
          style.textContent = content;
          document.head.appendChild(style);
        }
      })();
    </script>
    <th:block th:replace="fragments/fonts :: fonts"> </th:block>
  </head>

  <body class="font-sans">
    <!-- HEADER -->
    <header th:replace="fragments/landing/header_menu :: header-menu"></header>
    <main
      id="single-item"
      th:style="'background-image: url(\'' + ${plato.urlImage} + '\');'"
    >
      <div class="single-food-card">
        <div id="plate-img">
          <img th:src="${plato.urlImage}" alt="Imagen del plato" />
        </div>
        <div id="plate-info">
          <h2 th:text="${plato.nombre}">Nombre del plato</h2>
          <p th:text="${plato.descripcion}">Descripción del plato</p>
          <div id="special-info">
            <form action="">
              <label for="special-instructions"
                >Instrucciones especiales:</label
              >
              <textarea
                id="special-instructions"
                name="special-instructions"
                rows="4"
                cols="50"
              ></textarea>
            </form>
          </div>
        </div>
      </div>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
  </body>
  <script th:inline="javascript">
    const menu = /*[[${menu}]]*/ [];
  </script>
  <script src="\_js\card-sorter.js"></script>
</html>
