.item-card {
    display: flex;
    background-color: #EB7C21;
    margin: 1rem;
    height: 15rem;
    width: 34rem;
    color: #FEFCED;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 1rem;
}

.item-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

#products{
    margin: 1rem;
} 
.menu-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15rem;
    padding: 2rem;
}

.item-card h3{
    color: #FEFCED;
    text-align: right;
    margin: 0;
    font-size: 2rem;
}

.item-card img {
    width: 50%;
    margin: 0;
    border-radius:  1rem 0 0 1rem;
}


.item-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin: 0.4rem;
    text-align: justify;
}

.item-info > .product-name {
    text-align: center;
    width: 100%;
}

.item-info p{
    font-size: 0.7rem;
}

#products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.add-btn {
    position: absolute;
    bottom: 10px;
    left: 10px; 
    width: 42px;
    height: 42px;

    border-radius: 50%;
    border: none;
    background-color: #FEFCED;
    cursor: pointer;

    display: grid;
    place-items: center;

    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.add-btn:hover {
    transform: scale(1.15);
    background-color: #ffffff;
}

/* 🔥 El + perfecto */
.plus-icon {
    position: relative;
    width: 18px;
    height: 18px;
}

.plus-icon::before,
.plus-icon::after {
    content: "";
    position: absolute;
    background-color: black;
}

.plus-icon::before {
    width: 100%;
    height: 3px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.plus-icon::after {
    height: 100%;
    width: 3px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
.entradas, .platos-fuertes, .postres , .sushi{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    width: 100%;
}
#title-area{
    height: 20rem;
    position: relative;
    text-align: center;
    color: #FEFCED;
    margin: 0;
}

#title-area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title-area h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    color: #EB7C21;
}


